* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Open Sans",sans-serif;
}


a{
  text-decoration: none;
  color: white;
}


header{
  background-color: goldenrod;
  border-bottom: 3px solid gray ;
  border-top:3px solid gray ;
}

#navbar{
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  height: 70px;
  margin: 0 auto;
  max-width: 1100px;
  
}

#navbar ul{
  list-style-type: none;
  display: flex;
  align-items: center;
}

#navbar ul li a{
  padding: 0.5rem;
}
#navbar ul li a:hover{
  background-color:white;
  color: goldenrod;
  border: 0.5px solid goldenrod;
  border-radius: 10px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding : 2rem;
  border-bottom: 3px solid gray ;

}
#home .name{
  text-align: center;
}


#home .name h2{
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

#home .name p{
  opacity: 0.6;
  font-style: italic;
}

#home img{
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}
#home ul{
  list-style-type: none;
  display: flex;
  align-self: center;
  

}

#home ul li a{ 
  background-color:goldenrod;
  padding: 0.8rem 3rem;
  border-radius: 10px;  
  font-size: 1.25rem;
  margin-left: 1.25rem;
 
 
  
}

#home a:hover{
  background-color:white;
  color: goldenrod;
  border: 1px solid goldenrod;
  border-radius: 10px;

}

#home .bilgi h3{
  margin-top: 1.25rem;
  padding: 0.8rem 3rem;
  letter-spacing: 1px;
  text-align: center;
  color: black;
  margin-bottom: 1.25rem;


}



#egitim{
  background-color: goldenrod;
  color: white;
  padding: 1rem;
  border-bottom: 3px solid gray ;


}

#egitim h4{
  text-align: center;
  font-size: 1.25rem; 
  letter-spacing: 0.5px;
  
}
#egitim .items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#egitim .items .item{
  width: 33%;
  text-align: center;
  padding: 0.5rem;
}

#egitim .items .item:hover{
  background-color:white;
  color: goldenrod;
  border: 1px solid goldenrod;
  border-radius: 10px;
  opacity: 0.7;
}
#egitim .items .item h5{
  font-size: 1.25rem;
}
#egitim .items .item i{
  font-size: 1.25rem;
}

#yetenek{
  margin-top: 0.75rem;
  background-color: white;
  color: goldenrod;
  padding: 1rem;
  border-bottom: 3px solid gray ;
  margin: auto;
  
}

#yetenek h4{
  text-align: center;
  font-size: 1.25rem; 
  letter-spacing: 0.5px;
  
}
#yetenek .items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#yetenek .items .item{
  width: 33%;
  text-align: center;
  padding: 0.5rem;
}

#yetenek .items .item:hover{
  background-color:lemonchiffon;
  color: goldenrod;
  border: 1px solid goldenrod;
  border-radius: 10px;
  opacity: 0.7;
}
#yetenek .items .item h5{
  font-size: 1.25rem;
}
#yetenek .items .item i{
  font-size: 1.25rem;
}



footer {
  bottom: 0;
  right: 0;
  left :0;
  text-align: center;
  padding : 1rem;
  background : #efefef;
  font-size : 1.25rem;
}
