.center{
  margin-left: auto;
  margin-right: auto;
}

.divOzellik1{
  width: 15vw;
  height: 100%;
  background-color: antiquewhite;
  position: fixed;
  top:0;
  left:0;
}
.divOzellik2{
  height: 100%;
  text-align: center;
  margin-left: 20vw;  
  margin-top: 10vw;  
  
}

table,tr,td{
  border: 5px solid ;
  overflow-wrap: break-word;
  color: lightsalmon;    
}

h1{
  color:saddlebrown;
  text-align: center;
  border: 5px solid chocolate;
  font-family: "Courier New"
}
h2{
  font-size: 20px;
  color:saddlebrown;
  text-align: center;
  border: 1px solid chocolate;
  font-family: "Courier New"
}

h3{
  text-align: center;
  color:tomato;
  font-family: "Courier New"
  
}
h4{
  font-size: 30px;
  color:black;
  text-align: center;
  border: 1px solid chocolate;
  font-family: "Courier New"
  

}


body{
  background: url("../images/photo.png"); 
  background-repeat: no-repeat;
  background-size: 1540px 900px;
}
